<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span data-feather="list"></span>
    Categories
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'show_product_category' 'fruit-and-vegetable' %}">Fruits and Vegetables</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'meat-and-fish' %}">Meat and Fish</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'cooking' %}">Cooking</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'Beverage' %}">Beverages</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'breakfast' %}">Breakfast</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'snacks' %}">Snacks</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'dairy' %}">Dairy</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'baking-needs' %}">Baking Needs</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'bakery' %}">Bakery</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'frozen' %}">Frozen</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'diabetic-food' %}">Diabetic Food</a>
        <a class="dropdown-item" href="{% url 'show_product_category' 'baby-food' %}">Baby Food</a>
    </div>
</div>