{% extends 'main.html' %}
{% block content %}

    <p>
        <select id="filter" name="filter">
            <option disabled selected>Sub-category</option>
        </select>
        <button id="filter-button" type="button" class="btn btn-info">Filter</button>
    </p>

    <p><h4>Our Products</h4></p>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Sub category</th>
                    <th>Rating</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
                {% for p in product %}
                    <tr>
                        <td>{{p.product_id}}</td>
                        <td>{{p.product_name}}</td>
                        <td>{{p.unit}}</td>
                        <td>{{p.units_in_stock}}</td>
                        <td>{{p.price_per_unit}}</td>
                        <td>{{p.category}}</td>
                        <td>{{p.sub_category}}</td>
                        <td>{{p.rating_by_customer}}</td>
                        <td>
                            <form method="POST" action="http://127.0.0.1:8000/cart/add_item/{{ p.product_id }}/">
                                {% csrf_token %}
                                <input type="submit" class="buttonAdd" value="+" name/>
                                {% if p.cart_count %}
                                    x{{p.cart_count}}
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    {{ product|json_script:"product-data" }}
    <script language="JavaScript">
        var product = JSON.parse(document.getElementById('product-data').textContent);
        var categories = [];
        for(i = 0; i < product.length; i++){
            categories.push(product[i].category);
        }
        categories = new Set(categories);
        categories = Array.from(categories);
        console.log(categories);

        $.ajax({
            url: "{% url 'get_subcategory_filter' %}",
            data: {
                'categories': categories
            },
            datatype: 'json',
            success: function(data) {
                $('#filter').empty();
                for(i = 0; i < data.length; i++){
                    var sub_category = data[i];
                    $('#filter').append("<option value='" + sub_category + "'>" + sub_category + "</option>");
                }
            },
            error: function() {
                alert("Something went wrong. Reload the page");
            }
        });
    </script>

    <script>
        $('#filter-button').click(function(){
            console.log("button clicked");
            var subcat = $('#filter').val();
            subcat = subcat.replace(/\s+/g, '-').toLowerCase();
            window.location.href = "http://127.0.0.1:8000/sub_category/" + subcat + "/";
        });
    </script>
{% endblock %}