<!-- write main.html -->

{% extends 'main.html' %}

{% block content %}

    <p><h4>Our Products</h4></p>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Discounted Price</th>
                    <th>Category</th>
                    <th>Sub category</th>
                    <th>Rating</th>
                    <th>Add to Cart</th>
                </tr>
            </thead>
            <tbody>
                {% for p in product %}
                    <tr>
                        <td>{{p.product_id}}</td>
                        <td>{{p.product_name}}</td>
                        <td>{{p.unit}}</td>
                        <td>{{p.units_in_stock}}</td>
                        <td>{{p.price_per_unit}}</td>
                        <td></td>
                        <td>{{p.category}}</td>
                        <td>{{p.sub_category}}</td>
                        <td>{{p.rating_by_customer}}</td>
                        <td>
                            <form method="POST" action="http://127.0.0.1:8000/cart/add_item/{{ p.product_id }}/">
                                {% csrf_token %}
                                <input type="submit" class="buttonAdd" value="+" name/>
                                {% if p.cart_count %}
                                    x{{p.cart_count}}
                                {% endif %}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}