<!doctype html>
<html lang="en">
    <head>
        {% include 'main_head.html' %}

<!--    place extra head materials, like links, css styles in this block    -->
        {% block head_extra %}
        {% endblock %}

    </head>


    <body style="background-color:#D7F4D6;">
        {% include 'main_navbar.html' %}
        {%load static%}

        <div class="container-fluid">
            <div class="row">
                {% include 'main_sidebar.html' %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    {% block content %}
                    {% endblock %}
                </main>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
        <!-- Icons -->
        <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
        <script>
            feather.replace()
        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script language="JavaScript">
            $(document).ready(function(){
                req = $.ajax({
                    url: "{% url 'flash-sale-count' %}",
                    dataType: "json",
                    data: {}
                });
                req.done(function(data){
                    if(data.count)
                        $('#sale-count').text('(' + data.count + ')');
                    else
                        $('#sale-count').text('');
                });
            });
        </script>

        {% block custom_script %}
        {% endblock %}
    </body>
</html>