{% extends 'main.html' %}


{% block content %}
{% load static %}
		<div class="container">
			<div class="row">
				<div class="col-md-4 order-md-2 mb-4">
					<h4 class="d-flex justify-content-between align-items-center mb-3">
						<span class="text-muted">Your credit point</span>
						<span class="badge badge-secondary badge-pill">{{customer_credit}}</span>
					</h4>
				</div>


				<div class="col-md-8 order-md-1">
					<h4 class="mb-3">Your Profile <span class="text-muted">(Edit any field)</span> </label> </h4>
					<form class="needs-validation" method="post" action="{% url 'save_changes' %}" novalidate>
						{% csrf_token %}
						<div class="mb-3">
							<label for="username">User name <span class="text-muted">*</span> </label>
							<div class="input-group">
								<input type="text" class="form-control" id="customer_name" name="customer_name" value="{{customer_name}}" required>
								<div class="invalid-feedback" style="width: 100%;">
									Your username is required.
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="email">Email <span class="text-muted">*</span> </label>
								<input type="email" class="form-control" id="email" name="email" value="{{email}}" required>
								<div class="invalid-feedback">
									Please enter a valid email address for shipping updates.
								</div>
							</div>

							<div class="col-md-6 mb-3">
								<label>Phone No <span class="text-muted">(Optional)</span> </label>
								<input type="text" class="form-control" id="phone_no" name="phone_no" value="{{phone_no}}">
							</div>
						</div>

						<div class="row">
							<div class="col-md-5 mb-3">
								<label for="street_no">Street <span class="text-muted">*</span> </label>
								<input type="text" class="form-control" id="street_no" name="street_no" value="{{street_no}}" required>
								<div class="invalid-feedback">
									Please enter a street with number.
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="house_no">House <span class="text-muted">*</span> </label>
								<input type="text" class="form-control" id="house_no" name="house_no" value="{{house_no}}" required>
								<div class="invalid-feedback">
									Please enter a house number.
								</div>
							</div>
							<div class="col-md-3 mb-3">
								<label for="apt_no">Apt <span class="text-muted">*</span> </label>
								<input type="text" class="form-control" id="apt_no" name="apt_no" value="{{apt_no}}" required>
								<div class="invalid-feedback">
									Please enter an apt no. Type in 'default' if none.
								</div>
							</div>
						</div>

						<h4 class="mb-3">Payment</h4>
						<h6 class="mb-3">Credit Card</h6>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="username">Name</label>
								<input type="text" class="form-control" id="username" name="username" value="{{username}}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="bank">Bank</label>
								<input type="text" class="form-control" id="bank" name="bank" value="{{bank}}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="card_type">Card Type</label>
								<input type="text" class="form-control" id="card_type" name="card_type" value="{{card_type}}">
							</div>
							<div class="col-md-6 mb-3">
								<label for="card_no">Card No</label>
								<input type="text" class="form-control" id="card_no" name="card_no" value="{{card_no}}">
							</div>
						</div>

						<hr class="mb-4">

						<h6 class="mb-3">Bkash</h6>
						<div class="mb-3">
							<label for="bkash_phone_no">Phone No</label>
							<input type="text" class="form-control" id="bkash_phone_no" name="bkash_phone_no" value="{{bkash_phone_no}}">
						</div>

						<hr class="mb-4">
						<button class="btn btn-primary btn-lg btn-block" type="submit">Save changes</button>
					</form>
				</div>
			</div>
		</div>
		<p></p>
{% endblock %}

{% block custom_script %}

	{{ db_emails|json_script:"db_emails" }}
	{{ db_phone_nos|json_script:"db_phone_nos" }}
	<script language="JavaScript">
		(function () {
			'use strict'

			window.addEventListener('load', function () {
			var forms = document.getElementsByClassName('needs-validation')

<!--			Loop over forms and prevent submission -->
			Array.prototype.filter.call(forms, function (form) {
				form.addEventListener('submit', function (event) {
					var validated = form.checkValidity();

					var email = document.getElementById("email");
					var db_emails = JSON.parse(document.getElementById('db_emails').textContent);
					for(i = 0; i < db_emails.length; i++){
						if(email.value == db_emails[i]){
							validated = false;
							alert("Email already in use");
						}
					}

					var phone_no = document.getElementById("phone_no");
					var db_phone_nos = JSON.parse(document.getElementById('db_phone_nos').textContent);
					for(i = 0; i < db_phone_nos.length; i++){
						if(phone_no.value == db_phone_nos[i]){
							validated = false;
							alert("Phone no already in use");
						}
					}

					var inputElements = document.getElementsByTagName("input");
					for(var i = 0; i < inputElements.length; i++)
						if(inputElements[i].required && !Boolean(inputElements[i].value))
							validated = false;

					if (validated === false) {
						event.preventDefault();
						event.stopPropagation();
					}

					form.classList.add('was-validated')
				}, false)
				})
			}, false)
		})()
	</script>
{% endblock %}

