{% extends 'main.html' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Product Details</h1>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <form method="POST" id="checkout_form" action="{% url 'save_admin_changes' product_id %}">
                {%csrf_token%}
                <div class="mb-3">
                    <label>Name <span class="text-muted">*</span> </label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="product_name" name="product_name" value="{{product_name}}" required/>
                        <div class="invalid-feedback" style="width: 100%;">
                            Product name is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Category *</label>
                        <select id="category" name="category" class="form-control" required>
                            <option id="Breakfast" value="Breakfast">Breakfast</option>
                            <option id="Fruit and Vegetable" value="Fruit and Vegetable">Fruit and Vegetable</option>
                            <option id="Beverage" value="Beverage">Beverage</option>
                            <option id="Meat and Fish" value="Meat and Fish">Meat and Fish</option>
                            <option id="Snacks" value="Snacks">Snacks</option>
                            <option id="Dairy" value="Dairy">Dairy</option>
                            <option id="Frozen" value="Frozen">Frozen</option>
                            <option id="Bakery" value="Bakery">Bakery</option>
                            <option id="Baking Needs" value="Baking Needs">Baking Needs</option>
                            <option id="Cooking" value="Cooking">Cooking</option>
                            <option id="Baby Food" value="Baby Food">Baby Food</option>
                            <option id="Diabetic Food" value="Diabetic Food">Diabetic Food</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Sub-category *</label>
                        <select id="sub_category" name="sub_category" class="form-control" required>
                        </select>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Unit <span class="text-muted">*</span> </label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="unit" name="unit" value="{{unit}}" required/>
                        <div class="invalid-feedback" style="width: 100%;">
                            Product unit is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label id="label-stock">Stock</label>
                        <input type="number" class="form-control" id="units_in_stock" name="units_in_stock" value="{{units_in_stock}}" required readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Add amount</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="change_units_in_stock" name="change_units_in_stock" />
                            <button id="change-stock-button" type="button" class="btn btn-info">Change</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label>Price<span class="text-muted">*</span> </label>
                        <input type="number" class="form-control" id="price_per_unit" name="price_per_unit" value="{{price_per_unit}}" required>
                        <div class="invalid-feedback">
                            Give product a price
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label id="label-discount">Discounted Price</label>
                        <input type="number" class="form-control" id="discounted_price" name="discounted_price" value="{{discounted_price}}" readonly />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Sale</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="percent_discount" name="percent_discount" value="{{percent_discount}}" />
                            <button id="percent_discount-button" type="button" class="btn btn-info">Set sale</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Add in current Bundle</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="bundle_amount" name="bundle_amount" placeholder="Amount"/>
                            <button type="button" class="btn btn-info">Add</button>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" id="submit_btn" type="submit">Save changes</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script language="JavaScript">
        $(document).ready(function(){

            $('#change-stock-button').on('click', function(){
                var delta = parseInt($('#change_units_in_stock').val()) || 0;
                var currentStock = parseInt($('#units_in_stock').val()) || 0;
                var newStock = currentStock + delta;
                if(newStock < 0) newStock = 0;
                $('#units_in_stock').val(newStock);
                $('#label-stock').text("Stock (Save changes)");
            });

            $('#percent_discount-button').on('click', function(){
                var percent_off = parseInt($('#percent_discount').val()) || 0;
                var price = parseInt($('#price_per_unit').val()) || 0;
                var discountedPrice = price - parseInt((price*percent_off) / 100);
                $('#discounted_price').val(discountedPrice);
                $('#label-discount').text("Discounted Price (Save changes)");
            });

        });
    </script>

    <script language="JavaScript">
		var lookup = {
			'Breakfast': ['Local', 'Energy Booster', 'Cereals', 'Jam and Spreads'],
			'Fruit and Vegetable': ['Fruits', 'Vegetables'],
			'Beverage': ['Tea', 'Coffee', 'Juice', 'Soft Drinks', 'Water', 'Powder Drinks'],
			'Meat and Fish': ['Meat', 'Fresh Fish', 'Dried Fish'],
			'Snacks': ['Noodles', 'Soups', 'Pasta', 'Chocolate', 'Local', 'Chips', 'Popcorn and nuts', 'Biscuits', 'Salad Dressing', 'Sauces'],
			'Dairy': ['Milk', 'Butter and cream', 'Cheese', 'Powder Milk', 'Yogurt and sweet'],
			'Frozen': ['Frozen', 'Canned'],
			'Bakery': ['Cookies', 'Snacks', 'Breads', 'Dips and spreads', 'Honey', 'Cakes'],
			'Baking Needs': ['Nut and dried fruit', 'Mixes', 'Ingredients', 'FLour'],
			'Cooking': ['Rice', 'Color and flavours', 'Pickles', 'Oil', 'Ghee', 'Ready Mix', 'Salt and Sugar', 'Dal or lentil', 'Shemai'],
			'Baby Food': ['Toddler Foods', 'Milk and Drinks'],
			'Diabetic Food': ['Diabetic'],
		};

		$(document).ready(function(){
            $('#{{category}}').attr("selected", "selected");
            var category = $('#category').val();
			$('#sub_category').empty();
			console.log(category);
		    for(i = 0; i < lookup[category].length; i++){
		        console.log(lookup[category][i]);
		        $('#sub_category').append("<option value='" + lookup[category][i] + "'>" + lookup[category][i] + "</option>");
            }
		});

		$('#category').on('change', function() {
			var selectValue = $(this).val();
			$('#sub_category').empty();
			for(i = 0; i < lookup[selectValue].length; i++) {
				$('#sub_category').append("<option value='" + lookup[selectValue][i] + "'>" + lookup[selectValue][i] + "</option>");
			}
		});
	</script>
{% endblock %}
