<!-- write main.html -->

{% extends 'main.html' %}

{% block content %}

    <p><h4>Your cart</h4></p>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>To Pay</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in product %}
                    <tr>
                        <td id="pid">{{p.product_id}}</td>
                        <td>{{p.product_name}}</td>
                        <td>{{p.unit}}</td>
                        <td>{{p.price_per_unit}}</td>
                        <td>{{p.amount}}</td>
                        <td>{{p.to_pay}}</td>
                        <td>
                            <input type="button" class="buttonAdd" id="buttonAdd" value="+" data-pid="{{p.product_id}}"/>
                            <input type="button" class="buttonMinus" id="buttonMinus" value="-" data-pid="{{p.product_id}}"/>
                            <input type="button" class="buttonMinus" id="buttonErase" value="x" data-pid="{{p.product_id}}"/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p><h5>Total Price: {{ total_price }}</h5></p>
    <button class="button button1">Place Order</button>

    {% load static %}
    <script language="JavaScript" src="{% static 'js/buttons.js' %}"></script>

{% endblock %}