<!-- write main.html -->

{% extends 'main.html' %}

{% block content %}

    <p><h4>Sale List</h4></p>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Previous Price</th>
                    <th>Discounted Price</th>
                    <th>Category</th>
                    <th>Sub category</th>
                    <th>End Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for f in flash_sale %}
                    <tr>
                        <td>{{f.flash_sale_product_name}}</td>
                        <td>{{f.flash_sale_previous_price}}</td>
                        <td>{{f.flash_sale_discounted_price}}</td>
                        <td>{{f.flash_sale_category}}</td>
                        <td>{{f.flash_sale_sub_category}}</td>
                        <td>
                             <a href="end_sale/{{f.flash_sale_id}}/" class="btn btn-outline-dark">x</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}